{% extends "base.html" %}

{% block title %}Список учеников{% endblock %}

{% block content %}
<h1>Список учеников</h1>
<hr>
<a href="{% url 'core:student_create' %}" class="btn btn-success">Добавить ученика</a>
</p>

{# --- Форма Поиска --- #}
<form method="get" action="{% url 'core:student_list' %}" class="mb-3 mt-3">
  <div class="input-group">
    <input type="text" name="q" class="form-control"  placeholder="Поиск по имени, фамилии или классу..." value="{{ query|default:'' }}">
    <button class="btn btn-outline-secondary" type="submit">Найти</button>
  </div>
</form>
{# --- Конец Формы Поиска --- #}

<hr>
{% if students %}
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Класс</th>
        <th>Контакты родителя</th>
        </tr>
    </thead>
    <tbody>
      {% for student in students %}
        <tr>
          <td>
            <a href="{% url 'core:student_detail' pk=student.pk %}">
                {{ student.last_name }}
            </a>
          </td>
          <td>{{ student.first_name }}</td>
          <td>{{ student.current_class.name|default:"Не назначен" }}</td>
          <td>{{ student.parent_phone_number|default:"-" }} / {{ student.parent_email|default:"-" }}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>В базе данных пока нет учеников.</p>
  {% endif %}

{% endblock %}